<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="index.css" />
    <script defer src="shorten-url.js">
    </script>
    <script src="recaptcha.js">
    </script>
    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </script>
</head>
<body>
<main>
    <section>
        <div class="short-url-container">
            <h4 class="short-url-heading">Your shortened link:</h4>
            <span></span>
        </div>
        <form method="post" id="shorten-url-form">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>" />
            <input type="text" name="long-url" />
            <button type="submit">SHORTEN</button>
            <div
                    class="g-recaptcha"
                    data-sitekey="<%= recaptchaSiteKey; %>"
            >

            </div>
        </form>
    </section>
</main>
</body>
</html>
